body{
    margin: 0;
    padding: 0;
}
.allformm {
   box-shadow: 5px 5px 20px 5px whitesmoke;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
        margin-left: 110px;
}
.deltalogo{
  margin-left: 50px;
}
input{
    margin:5px;
    margin-top: 30px;
    border-radius: 10px;
    height: 20px;
     border: 1px solid black;
        cursor: pointer;
}
.login{
    margin-left: 150px;
    background-color: yellow;
    border: none;
    color: rgb(255, 255, 255);
    width: 50px;
    cursor: pointer;
    
}
.de{
    width: 100px;
    margin-left: 150px;
    margin-top: 10px;
}
.del{
    margin-top: -1px; 
    margin-left: 90px;
    color: gray;
}
.check{
    text-decoration: none;
    font-size: 20px;
    color:  black;
    margin-left: 5px;
    color: white;

    
}
.check1{
    width: 150px;
    height: 30px;
    background-color: rgb(83, 138, 138);
    padding-top: 4px;
    border-radius: 5px;
    margin-left: 150px;
color: white;

}
.imageme{
    width: 480px;
    height: 300px;
    margin-top: 20px;
    margin-top: 9px;
    margin-left: 15px;
   
}
.imag{
    box-shadow: 5px 5px 20px 5px rgb(202, 197, 197);
        width: 510px;
        margin-top: 20px;
        padding-top: -720px;
        margin-left: 10px;
       

}
.allformm1{
    box-shadow: 5px 5px 20px 5px rgb(156, 149, 149);
        width: 390px;
        height: 200px;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
        margin-left: 50px;

}
.input1{
    display: block;
    margin: 35px auto;
    border-radius: 5px;
    width: 300px;
   
}
.login1{

    margin-left: 150px;
        background-color: rgb(0, 0, 0);
        border: none;
        color: rgb(255, 255, 255);
        width: 100px;
        cursor: pointer;
        margin-top: 9px;

}
.kind{
    margin-top: -1px;
      width: 420px;
        color: gray;
        margin-left: -10px;
}
  .state2 {
   display: none;

  }
@media screen and (min-width:868px) {
  #imageme{
 width: 779px;
 height: 530px;
 margin-left: 10px;
 margin-top: 10px;
 position: fixed;

  }
  .check1{
    margin-left: 10px;
  }
  .imag{
    width: 800px;
        height: 550px;
        margin-left: 300px;
        margin-top: -300px;
        position: fixed;

  }
  .allformm1{
    margin-left: 1200px;
    position: fixed;
    margin-top: -300px;
    height: 500px;
  }
  .allformm{
    margin-left: 5px;
  
  }
  .del{
    margin-left: 5px;
  }
  .de{
    border-radius: 50%;
    margin-left: 1700px;
    width: 100px;
  }
  .deltalogo{
    width: 1878px;
    background-color: green;
    margin-top: -10px;
    margin-left: -100px;
  }
 
  .state2{
    margin-top: -450px;
    display: block;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    
  }
  

    
  }
  
    
